<%- include("_header") %>
<h1><%= title %></h1>
<form method="POST" action="" class="">
	<div class="mb-3">
		<label for="name" class="form-label">Genre:</label>
		<% let val = ""; if (genre) { val = genre.name } %>
		<input
			type="text"
			placeholder="Fantasy, Poetry, etc."
			name="name"
			class="form-control"
			value="<%= val %>"
			required
		/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("_formerrors") %><%- include("_footer") %>
